body {
	font-family: 'Lato', sans-serif;
	//background-color: rgba(255,0,0,.1);
}

section {
	width: 100vw;
	height: 100vh;
	padding: 50px;
}

.quote {
	width: 100vw;
	height: 10vh;
	margin-top: 10px;
	padding: 20px;
	z-index: 9999;
}

.hero-text {
	font-weight: 700;
	color: white;
	text-transform: uppercase;

}

.hero-box {
	position: absolute;
	top: 55%;
	left: 68%;
	padding: 10px 10px;
	border-radius: 30%;
	background-color: rgba(255,0,0,.3);
}


h2 {
	text-transform: uppercase;
	font-weight: 400;
}

h2#club-text {
	color: white;
}

p {
	color: white;
	font-weight: 300;
}


#home {
	 background: url(images/8.jpg);
	 background-repeat: no-repeat;
	 background-size: cover;
	// background-size: 100%;
	
}

img {
	width: 375px;
	transition: opacity 1s ease-in-out;
}

img:hover {
	opacity: .5;
}

.col-text {
	column-count: 4;
	-webkit-column-count: 4;
}


#club {
	background-image: linear-gradient(rgba(255,0,0,.3), rgba(0,0,0,.3)), url(images/food.jpg);
	background-size: cover;
}

#contact {
	background-color: lightgrey;

}

/* Media Queries 
pixel measurements taken from Stack Overflow
 */



/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	.hero-box {
		position: absolute;
		top: 50%;
		left: 60%;
		padding: 10px 10px;
		border-radius: 10%;
		background-color: rgba(255,0,0,.3);
	}

	img {
		width: 30%;
		margin: 12px;
	}

	footer {
		margin-bottom: 10px;
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	.quote {
		width: 100vw;
		height: 10vh;
		margin-top: 10px;
		padding: 20px;
		z-index: 9999;
	}
	.hero-text {
		font-size: 170%;
		font-weight: 400;
		color: white;
		text-transform: uppercase;
	}

	.hero-box {
		position: absolute;
		top: 40%;
		left: 55%;
		padding: 10px 10px;
		border-radius: 10%;
		background-color: rgba(255,0,0,.3);
	}
		

	img {
		width: 100%;
	}

	
	#recipes,
	#about,
	#club {
		height: 75%;
		margin-bottom: 10px;
	}


	#about {
		margin-top: 100px;
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	.quote {
		width: 100vw;
		height: 10vh;
		margin-top: 10px;
		padding: 20px;
		z-index: 9999;
	}
	.hero-text {
		font-size: 170%;
		font-weight: 400;
		color: white;
		text-transform: uppercase;
	}

	.hero-box {
		position: absolute;
		top: 40%;
		left: 65%;
		padding: 10px 10px;
		border-radius: 10%;
		background-color: rgba(255,0,0,.3);
	}
		

	img {
		width: 49%;
		margin: 2px;
	}

	
	#recipes,
	#about,
	#club {
		height: 75%;
		margin-bottom: 10px;
	}


	#about {
		margin-top: 100px;
	}




}

/* Portrait phones and smaller */
@media (max-width: 480px) {
	section {
		width: 100vw;
	}

	.quote {
		width: 100vw;
		height: 10vh;
		margin-top: 10px;
		padding: 20px;
		z-index: 9999;
	}

	.hero-text {
		font-size: 100%;
		font-weight: 400;
		color: white;
		text-transform: uppercase;

	}

	.hero-box {
		position: absolute;
		top: 40%;
		left: 50%;
		padding: 10px 10px;
		border-radius: 10%;
		background-color: rgba(255,0,0,.3);
	}


	h2 {
		text-transform: uppercase;
		font-size: 120%;
		font-weight: 400;
	}

	p {
		color: white;
		font-size: 10px;
		font-weight: 300;
	}
	
	#home,
	#recipes,
	#about,
	#club {
		height: 75vh;
	}

	h4,
	.panel,
	.panel-primary,
	#comments,
	#utensils, 
	.navbar {
		display: none;
	}


	img {
		width: 32%;
	}
	
	form {
		margin-bottom: 10px;
		clear: both;
	}

}